
<div id="fighter-special" hx-swap-oob="true">

</div>

<div id="fighter-data" hx-swap-oob=true>
  <ul class="nes-list is-disc">
    <li> Age: <%= @selected[:infos][:age] %> </li>
    <li> Country: <%= @selected[:infos][:country] %> </li>
    <li> Fighting Style: <%= @selected[:infos][:style] %> </li>
  </ul>
</div>

<form id="techniques" hx-swap-oob="true">
  <select hx-target="#fighter-special"
          hx-get="/techniques"
          name="technique">
    <option selected> -- select -- </option>
    <% @selected[:moveset].each do |move| %>
    <option value=<%= "#{move[:code]}" %>> <%= move[:name] %> </option>
  <% end %>
  </select>
</form>



<img class="fighter" id="fighter-avatar" src=<%= "#{@selected[:name]}.jpg" %> alt= <%= "#{@selected[:name]}" %>>

